.git
.github
.husky
.turbo
.next
node_modules
**/node_modules
**/.turbo
**/dist
**/coverage
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
*.md
!apps/*/README.md
.env
.env.*
!.env.example
